<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Cars</title>
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/">Index</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <!--<a class="nav-item nav-link active" href="/">Index<span class="sr-only">(current)</span></a>-->
                <a class="nav-item nav-link" href="/cars/new">Add Cars</a>
                <a class="nav-item nav-link" href="/cats">Cats</a>
                <!--<a class="nav-item nav-link disabled" href="#">Disabled</a>-->
            </div>
        </div>
    </nav>
    <h2 class="text-center">Welcome to Cars</h2>
    <img src="/images/BMW.jpg" alt="BMW" class="img-thumbnail">
    <img src="/images/Cruz.jpg" alt="Cruz" class="img-thumbnail">
    <img src="/images/Finn.jpg" alt="Finn" class="img-thumbnail">
    <img src="/images/FireTruck.jpg" alt="FireTruck" class="img-thumbnail">
    <img src="/images/Mater.jpg" alt="Mater" class="img-thumbnail">
    <img src="/images/McQueen.jpg" alt="McQueen" class="img-thumbnail">
    <img src="/images/Sally.jpg" alt="Sally" class="img-thumbnail">
    <img src="/images/Tractor.jpg" alt="Tractor" class="img-thumbnail">  
</body>
</html>